{% extends 'dashboard.html.twig' %}

{% block body %}

    <div class="panel-heading">

        <h3 class="panel-title"><center>Todo bearbeiten</center></h3>
    </div>

    <div class="jumbotron">
    {#@TODO keine hartgecodeten URLS verwenden#}
    <a class="btn btn-primary" href="/dashboard/todos">zurück zur Übersicht</a>


    <h2 class="page-header"> Infos zu den Details</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong> Datum: <br> </strong>{{ todo.dueDate|date('F j, Y, g:i a') }} </li>
        <li class="list-group-item"><strong> Kategorie: <br> </strong> {{ todo.category }}</li>
        <li class="list-group-item"><strong> Priorität: <br> </strong> {{ todo.priority }}</li>
        <li class="list-group-item"><strong> Name: <br> </strong> {{ todo.name }}</li>
        <li class="list-group-item"><strong> Beschreibung: <br> </strong> {{ todo.description }}</li>
    </ul>
    <p>

    </p>

{% endblock %}